.row{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
}

#atareao-contactblock-input-contact,
#atareao-contactblock-textarea-content{
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    resize: none;
    text-indent: 0;
    background: var(--background);
    color: var(--foreground);
}
#atareao-contactblock-textarea-content{
    height: 200px;
}
#atareao-contactblock-input-contact{
    margin-bottom: 15px;
}

#atareao-contactblock-select-animal{
    height: 100px;
    border: none;
    overflow: hidden;
}
#atareao-contactblock-label-for-select-animal{
    line-height: 100px;
}

#atareao-contactblock-select-animal:focus {
  outline: none;
}
#random-animal{
    font-size: 32px;
    margin-left: 15px;
}
.atareao-contactblock-label{
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}
input, textarea{
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 10px;
    border-width: 1px;
    border-sytle: solid;
    padding: 5px;
    line-height: 30px!important;
}
#atareao-contactblock-button-enviar{
    flex: 1;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
}
.invisible{
    visibility: hidden;
}
.atareao-contactblock-label-for-selection{
    font-size: 32px;
    cursor: pointer;
    background-color: #7ddbd3;
    padding: 20px;
    border-radius: 10px;
}
input[type="radio"].atareao-contactblock-input-for-selection{
  visibility: hidden;
  height: 0;
  width: 0;
}
input[type="radio"].atareao-contactblock-input-for-selection:checked + label{
  background-color: #cf92e1;
}
.atareao-contactblock-div{
    margin-top: 20px;
}

.atareao-contactblock-div-alert{
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.atareao-contactblock-hidden{
    display: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.atareao-contactblock-alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.atareao-contactblock-alert h4 {
    margin-top: 0;
    color: inherit;
}

.atareao-contactblock-alert .atareao-contactblock-alert-link {
    font-weight: bold;
}

.atareao-contactblock-alert>p,.atareao-contactblock-alert>ul {
    margin-bottom: 0;
}

.atareao-contactblock-alert>p+p {
    margin-top: 5px;
}

.atareao-contactblock-alert-dismissable {
    padding-right: 35px;
}

.atareao-contactblock-alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.atareao-contactblock-alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.atareao-contactblock-alert-success hr {
    border-top-color: #c9e2b3;
}

.atareao-contactblock-alert-success .atareao-contactblock-alert-link {
    color: #2b542c;
}

.atareao-contactblock-alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.atareao-contactblock-alert-info hr {
    border-top-color: #a6e1ec;
}

.atareao-contactblock-alert-info .atareao-contactblock-alert-link {
    color: #245269;
}

.atareao-contactblock-alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.atareao-contactblock-alert-warning hr {
    border-top-color: #f7e1b5;
}

.atareao-contactblock-alert-warning .atareao-contactblock-alert-link {
    color: #66512c;
}

.atareao-contactblock-alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.atareao-contactblock-alert-danger hr {
    border-top-color: #e4b9c0;
}

.atareao-contactblock-alert-danger .atareao-contactblock-alert-link {
    color: #843534;
}

.atareao-contactblock-alert {
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.11);
}

.atareao-contactblock-alert-state-icon{
    position: absolute;
    left: 12px;
    top: 12px;

}
#atareao-contactblock-alert-state{
    margin-right: 10px;
    font-weight: 700;
}


.atareao-contactblock-alert .sign {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
    width: 25px;
    display: inline-block;
}

.atareao-contactblock-alert-success {
    background-color: #dbf6d3;
    border-color: #aed4a5;
    color: #569745;
}

.atareao-contactblock-alert-info {
    background-color: #d9edf7;
    border-color: #98cce6;
    color: #3a87ad;
}

.atareao-contactblock-alert-warning {
    background-color: #fcf8e3;
    border-color: #f1daab;
    color: #c09853;
}

.atareao-contactblock-alert-danger {
    background-color: #f2dede;
    border-color: #e0b1b8;
    color: #b94a48;
}

.atareao-contactblock-alert-white {
    background-image: linear-gradient(to bottom,#FFFFFF,#F9F9F9);
    border-top-color: #d8d8d8;
    border-bottom-color: #bdbdbd;
    border-left-color: #cacaca;
    border-right-color: #cacaca;
    color: #404040;
    padding-left: 61px;
    position: relative;
}

.atareao-contactblock-alert-white .icon {
    text-align: center;
    width: 45px;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid #bdbdbd;
}

.atareao-contactblock-alert-white .icon:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #bdbdbd;
    position: absolute;
    border-left: 0;
    border-bottom: 0;
    top: 50%;
    right: -6px;
    margin-top: -5px;
    background: #fff;
}

.atareao-contactblock-alert-white.rounded {
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.atareao-contactblock-alert-white.rounded .icon {
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}

.atareao-contactblock-alert-white .icon i {
    font-size: 20px;
    color: #FFF;
    left: 12px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}

.atareao-contactblock-alert-white.atareao-contactblock-alert-danger .icon,.atareao-contactblock-alert-white.atareao-contactblock-alert-danger .icon:after {
    border-color: #ca452e;
    background: #ff9e99;
}

.atareao-contactblock-alert-white.atareao-contactblock-alert-info .icon,.atareao-contactblock-alert-white.atareao-contactblock-alert-info .icon:after {
    border-color: #3a8ace;
    background: #4d90fd;
}

.atareao-contactblock-alert-white.atareao-contactblock-alert-warning .icon,.atareao-contactblock-alert-white.atareao-contactblock-alert-warning .icon:after {
    border-color: #d68000;
    background: #fc9700;
}

.atareao-contactblock-alert-white.atareao-contactblock-alert-success .icon,.atareao-contactblock-alert-white.atareao-contactblock-alert-success .icon:after {
    border-color: #54a754;
    background: #60c060;
}
